*
  margin: 0
  padding: 0
  box-sizing: border-bo
  font-family: roboto, sans-serif

body
  background-color: #ddd
  
section
  // max-width: 1400px
  margin: 0 auto
  text-align: center

  h2
    font-size: 50px
    padding: 50px 0
    text-transform: uppercase
    background-color: #eee

  .bodySection
    max-width: 1400px
    margin: 0 auto
    display: flex
    padding: 40px 10px

@media (max-width: 1120px)
  main

    section

      &.about, &.project, &.cooperation, &.contact

        p
          font-size: 20px

@media (max-width: 938px)
  main

    section

      &.about, &.project, &.cooperation, &.contact

        p
          font-size: 17px

@media (max-width: 767px)
  main
    
    section

      &.about, &.project, &.cooperation, &.contact

        p
          font-size: 24px
          width: 100%

@media (max-width: 424px)
  main

    section

      &.about, &.project, &.cooperation, &.contact

        p
          font-size: 20px

      h2
        font-size: 40px
        padding: 30px 0