.footer
  display: flex
  flex-wrap: nowrap
  width: 100%
  background-color: #bbb
  font-size: 20px
  text-align: center
  font-family: roboto
  letter-spacing: 1px

  p
    padding: 20px 0
    margin: auto
    background: transparent
    width: 80%

  .footerContact
    width: 20%
    display: flex
    flex-wrap: nowrap
    background: transparent

    p
      text-align: center
      font-size: 28px
      
      a
        text-decoration: none
        transition: 0.4s
        color: black

        i
          // padding-right: 30px

        &:hover
          cursor: pointer
          // margin-left: 20px
          color: #777

