.footer
  position: relative
  width: 100%
  height: 50px
  background-color: #bbb
  

  p
    position: absolute
    line-height: 50px
    width: 100%
    font-size: 20px
    text-align: center
    font-family: roboto
    letter-spacing: 2px

  .footerContact
    position: absolute
    width: 20%
    height: 50px
    right: 0
    bottom: 0
    display: flex
    flex-wrap: nowrap

    p
      position: relative
      width: 25%

      a
        text-decoration: none
        transition: 0.4s
        color: black

        &:hover
          cursor: pointer
          color: #777

@media (max-width: 768px)
  .footer

    p
      width: 50%

    .footerContact
      width: 50%

@media (max-width: 689px)
  .footer

    p
      letter-spacing: 0

@media (max-width: 600px)
  .footer
    
    &>p
      display: none

    .footerContact
      width: 100%