header
  width: 100%
  height: 100vh
  background-color: #ddd

  .logoImg
    height: 100%
    position: absolute
    left: 0
    bottom: 0
    
  h1
    position: absolute
    text-transform: uppercase
    top: 25%
    left: 55%
    font-size: 70px
    padding-right: 20px
    color: #848383

  h2
    position: absolute
    top: 50%
    left: 55%
    font-size: 30px
    color: #848383

  .borderArrows
    position: fixed
    width: 50px
    height: 60px
    bottom: 50px
    right: 25vw
    border: 2px solid #848383
    border-radius: 20px
    overflow: hidden

    .fa-angle-double-down
      position: relative
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      margin: auto
      font-size: 40px
      animation: 2s arrows linear infinite
      color: #848383

  .hide
    display: none

@keyframes arrows
  0%
    top: -50%
  100%
    top: 150%

@media (max-width: 1110px)
  header

    h1
      top: 20%
      left: 50%
      font-size: 60px

    h2
      top: 45%
      left: 50%

@media (max-width: 900px)
  header
    .logoImg
      height: 100%
      left: 0%
    
    h1
      top: 15%
      left: 50%
      font-size: 48px
    
    h2
      top: 35%
      left: 50%

@media (max-width: 700px)
  header
    .logoImg
      height: 80%
      left: 50%
      transform: translateX(-50%)
    
    .borderArrows
      right: 10vw

    h1
      top: 10%
      left: 0
      width: 100%
      text-align: center
      padding-left: 20px

    h2
      top: 20%
      left: 0
      width: 100%
      text-align: center


@media (max-width: 660px)
  header

    h1
      top: 10%
      font-size: 30px

    h2
      top: 15%
      font-size: 20px

@media (max-width: 430px)
  header
    h1
      font-size: 26px

@media (max-width: 375px)
  header

    .borderArrows
      right: 5vw

    h2
      top: 20%
      font-size: 20px