.project

  p
    width: 60%
    margin: auto
    padding: 0 10px
    font-size: 24px

  a
    width: 40%

  img
    display: block
    width: 100%

@media (max-width: 767px)
  .project

    .bodySection
      display: flex
      flex-wrap: wrap

    a
      width: 100%
      padding: 0 40px

    p
      width: 100%
      padding: 0 40px