.project
  min-height: 637px
  background-color: #848383
  color: white

  h2
    width: 100%
    text-align: center
    padding-bottom: 50px
    font-size: 60px
    text-transform: uppercase

  p
    position: relative
    width: 45%
    right: -900px
    margin: auto
    padding: 0 10px
    font-size: 24px
    transition: 1s  .3s

    &.active
      right: 0

  .imgContainer
    position: relative
    width: 40%

    img
      position: relative
      width: 0
      transition: 1s

      &.active
        width: 100%

    .handleHover
      display: none

      &.active
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.6)

        a
          position: relative
          top: 50%
          left: 25%
          font-size: 30px
          margin: 0 50px
          color: white



@media (max-width: 1024px)
  .project
    height: 476px


@media (max-width: 767px)
  .project
    height: 385px

    .bodySection
      display: flex
      flex-wrap: wrap

    a
      width: 100%
      padding: 0 40px

    p
      width: 100%
      padding: 0 40px

@media (max-width: 425px)
  .project
    height: 566px

@media (max-width: 375px)
  .project
    height: 561px

@media (max-width: 320px)
  .project
    height: 578px