*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111;
}
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
h2 {
  width: 100%;
  font-size: 50px;
  line-height: 90px;
  margin-bottom: 40px;
  background-color: #222;
  color: white;
  font-family: roboto, sans-serif;
  text-align: center;
}
i {
  padding-right: 10px;
}
img{
  width: 200px;
  height: 200px;
}
p {
  font-size: 30px;
  padding: 0 40px;
  font-family: Lato, sans-serif;
  color: white;
  letter-spacing: 1px;
  line-height: 50px;
}
section {
  margin: 0 auto 40px;
  text-align: center;
  overflow-x: hidden;
}
.bodySection{
  max-width: 1400px;
  margin: 0 auto;
}

