/* zrobić jeden rozmiar dla wszystkich img */

.wrap{
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 600px;
  top: 0;
  left: 0;
}

h2{
  width: 100%;
  font-size: 50px;
  line-height: 90px;
  margin-bottom: 30px;
  background-color: #222;
  color: white;
  font-family: roboto, sans-serif;
  text-align: center
}

main p{
  font-size: 30px;
  padding: 0 40px;
  font-family: Lato, sans-serif;
  color: white;
  letter-spacing: 1px;
  line-height: 50px;
  text-align: center;

}
.wrap .wrapLeft img{
  width: 20%;
  height: 20%;
  padding-top: 20px;
}
.wrap .wrapRight img{
  position: absolute;
  display: block;
  bottom: 8%;
  left: 50%;
  transform:translate(-50%, -30%);
  width: 400px;
  height: 240px;
  
}

.wrap .wrapLeft{
  position: absolute;
  padding: 0 20px;
  top: 0px;
  left: 0;
  width: 50%;
  text-align: center;
}

.wrap .wrapRight{
  position: absolute;
  padding: 0  20px;
  top: 0;
  right:0;
  width: 50%;
  height: 100%;
}

.project{
  max-width: 1400px;
  position: relative;
  height: 500px;
  margin-bottom: 50px;
}

.project h3 {
  position: absolute;
  left: 8%;
  top: 5%;
  width: 25%;
  font-size: 40px;
  line-height: 70px;
  border-bottom: 2px solid white;
  color: white;
  font-family: roboto, sans-serif;
  
}

.project p{
  position: absolute;
  top: 30%;
  left: 5%;
  width: 50%;
  text-align: left;
}

.project img{
  position: absolute;
  width: 37%;
  top: 30%;
  right: 7%;
}

.about{
  max-width: 1400px;
  
  /* text-align: center; */
  justify-content: space-around;
}

.about .pictures{
  display: flex;
  flex-wrap: wrap;
  top: 10px;
  left: 0;
  max-width: 1400px;
  height: 800px;
  justify-content: space-around;  
  margin: 40px 0;
}
.about .pictures .item{
  position: relative;
  width: 45%;
  height: 40%;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  transition: 2s;
}
.about .pictures .item:hover{
  background-size: 140%;
}


.about .pictures .item p{
  opacity: 0;
  transition: 2s;
  position: absolute;
  font-family: roboto, sans-serif;
  background-color: rgba(0,0,0, .6);
  line-height: 60px;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

}
.about .pictures .item:hover p{
  opacity:1;
}

.about .pictures .item:nth-of-type(1){
  background-image: url(../images/bjj.jpg);
}
.about .pictures .item:nth-of-type(2){
  background-image: url(../images/swimming.jpg);
}
 .about .pictures .item:nth-of-type(3){
   background-image: url(../images/running.jpg);
}
 .about .pictures .item:nth-of-type(4){
   background-image: url(../images/mountain.jpg);
}

.contact{
  color: #fff;
}
