nav{
  position: fixed;
  top:0;
  right: 50%;
  transform: translate(50%);
  width: 100%;
  max-width: 1400px;
  z-index: 1;
}
nav.sideNav{
  top:50%;
  right: 0;
  transform: translateY(-50%);
  width: 200px;
  z-index: 1;
}
.fas.fa-times,
.fa-home,
.fa-project-diagram,
.fa-user-tie,
.fa-address-card
{
  display: none;
}
.fa-home.sideNav,
.fa-project-diagram.sideNav,
.fa-user-tie.sideNav,
.fa-address-card.sideNav{
  display: inline-block;
  padding: 5px 20px 5px 5px;;
}

ul{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 40px auto;
}
ul.sideNav{
  flex-direction: column;
  width: 100%;
}
li{
  position: relative;
  list-style: none;
  overflow: hidden;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  border: 1px solid white;
  padding:10px 10px;
  border-radius: 10px;
  /* transition: .2s .4s; */
  cursor: pointer;
}
li:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2%;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  transition: height .1s .1s;
  background-color: #fff;
  opacity: .7;
}

li:hover:before{
  left: 0%;
  height: 100%;
  border-radius: 10px;
  z-index: -1;
  opacity: .7;
}
li:hover{
  color: black;
}
a{
  color: white;
}
li.sideNav{
  position: relative;
  right: -150px;
  font-size: 20px;
  cursor: pointer;
}
li.sideNav:hover{
  right: -10px;
}


@media(max-width: 600px){
  nav{
    position: fixed;
    height: 0;
    transition: .6s;
  }
  nav.active{
    position: fixed;
    width: 100%;
    height: 50%;
    opacity: .9;
    background-color: #000;
  }
  nav.active.sideNav{
    left: 0;
    top: 0;
    width: 100%;
    transform: translate(0%)
  }
  nav.sideNav {
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    width: 10%;
    font-size: 40px;
    color: #ddd;

  }
  ul{
    display: none;
    transition: .6s;
  }
  ul.active{
    display: block;
  }
  ul li.active{
    margin: 20px 0;
    text-align: center;
    left: 0;
    opacity: 1;
  }
  
  .fas.fa-times{
    position: fixed;
    display: block;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #ddd;
  }
  .fas.fa-times.active{
    color: #ddd;
  }
}
